:root {
	--light: initial;
	--dark: ;
	color-scheme: light;

	@media (prefers-color-scheme: dark) {
		--light: ;
		--dark: initial;
		color-scheme: dark;
		-webkit-font-smoothing: antialiased;
	}
}

/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
	color: var(--color-neutral-text-contrast);
	background: var(--color-background);
	font-size: var(--step-0);
	font-family: var(--font-sans);
	line-height: 1.6;
}

/* Base typesetting */
h1,
h2,
h3 {
	line-height: 1.1;
	letter-spacing: -0.05ch;
}

h1 {
	font-size: var(--step-5);
}

h2 {
	font-size: var(--step-4);
}

h3 {
	font-size: var(--step-3);
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
	max-width: 60ch;
}

h1,
h2,
h3 {
	max-width: 20ch;
}

/* More generic elements */
blockquote:not([class]) {
	font-family: var(--font-serif);
	font-size: var(--step-1);
}

/* Markdown blockquote:not([class])s aren't ideal, so we're presuming the person quoted is the last p */
blockquote:not([class]) p:last-of-type {
	font-family: var(--font-sans);
	font-size: var(--step-0);
	font-weight: normal;
}

svg {
	height: 2ex;
	width: auto;
	flex: none;
}

[role="list"] {
	padding: 0;
}

/* Base interactive elements */

a {
	color: currentcolor;
}

:focus {
	outline: 2px solid;
	outline-offset: 0.3ch;
}

:target {
	scroll-margin-top: 2ex;
}

main:focus {
	outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
	background: var(--color-neutral-text-contrast);
	color: var(--color-background);
}
